@font-face {
    font-family:'arialRoundBold';
    src: url('font/ARLRDBD.ttf') format('truetype');
  }

  a{
      color: black;
  }
  a:hover{
      color: black;
  }
  body{
      /* max-width: 1960px; */
      font-family:Roboto;
      font-size:  .9rem;
      overflow-x: hidden;
  }
  .f-8{
      font-size: .8rem;
  }
  .navbar .nav-link {
      text-transform: uppercase;
      font-family:Roboto;
      font-size: 0.9rem;
      color: black;
      
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.8em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.navbar-toggler:focus{
outline: none !important;
box-shadow: none;
}
  .line{
      display: flex;
      align-items: center;
  }
  .line svg{
      height: 1rem;
      width: 1rem;
      color: black;
  }
.cta{
    /* background-image: url('./images/banner.png') ; */
    background-repeat: no-repeat;
    /* background-position: center; */
    /* height: 400px; */
   width: auto;
}
.form-tabs{
    /* height: 350px; */
    /* width: 320px; */
    border-radius: 2rem;
  
   
    margin: 2rem auto;
}
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-bottom-color: transparent !important ;
}
.form-tabs > *{
    font-size: .8rem;
}
.form-tabs .nav-tabs{
    background-color: #A1A1A1;
    color:black
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
 
}
.nav-tabs  {
   
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
/* .nav-tabs .nav-item:nth-of-type(2){
    width: 58.2%;
    } */
.form-control{
    border-radius:0;
    border-bottom: 1px solid #ced4da;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.form-control:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
      border-bottom: 2px solid #a1a1a1;
        box-shadow: none;
    }
    .form-check-input:focus{
        box-shadow: none;
    }
    input::placeholder {
        color: red;
        font-size: .7rem;
      }
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .perks h6{
      line-height: 2;
      font-weight: 400;
      font-size: .9rem;
  }
  .info .line{
      justify-content: center;
  }
  .address  h6{
    line-height: 1;
    font-size: .9rem;
   
}
.address  div{
   
    margin-bottom: 1.5rem;
}
.top-awards .nav-link, .awards .nav-link{
    display: flex;
    flex-direction: column;
    /* flex: 50%; */
    text-align: center;
    font-size: .9rem;
    flex-basis: 150px;
}
.awards .nav-link img{
    height: 40px;
}
header .nav{
    z-index: 0;
}